@import '@samplekit/preprocess-katex/katex.css';
@import './lib/styles/css/tokens.css';
@import './lib/styles/css/themes.css';
@import './lib/styles/css/code.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/*#region Resets ############################# */
* {
	-webkit-tap-highlight-color: transparent;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.lucide-icon,
.custom-icon {
	@apply stroke-[1.25];
}
/*#endregion Resets ########################## */

/*#region Base Colors ######################## */
::selection {
	@apply bg-accent-9/80 text-accent-9-contrast;
}
* {
	@apply outline-2 outline-offset-2 outline-accent-7 focus-visible:outline;
}
html {
	@apply bg-app-bg text-gray-12 accent-accent-9;
}
.light {
	color-scheme: light;
}
.dark {
	color-scheme: dark;
}
/*#endregion Base Colors ##################### */

/*#region Layout ############################# */
:root {
	--open-topbar-top: 0px;
	--closed-topbar-top: calc(var(--full-nav-height) * -1);
	--hidden-topbar-border: transparent;
	--visible-topbar-border: hsl(var(--gray-5));
	--sidebar-width: 288px;
	--full-nav-height: 56px;
	--content-max-width: 1024px;
}
::view-transition-old(root),
::view-transition-new(root) {
	animation: none;
	mix-blend-mode: normal;
}
::view-transition-old(root) {
	z-index: 1;
}
::view-transition-new(root) {
	z-index: 9999;
}
.dark::view-transition-old(root) {
	z-index: 9999;
}
.dark::view-transition-new(root) {
	z-index: 1;
}
/*#endregion Layout ########################## */

/*#region Fonts ############################## */
body,
html {
	@apply font-serif;
}
/*#endregion Fonts ########################### */

/*#region Katex ############################## */
.katex-display > .katex > .katex-html > .tag {
	right: 0.15rem;
}
.katex {
	position: relative;
	z-index: -1;
}
/*#endregion Katex ########################### */

/*#region Scrollbar ########################## */
/*
Not styled on Safari bc they have a bug where switching the theme doesn't update the scrollbar color
::-webkit-scrollbar-thumb
::-webkit-scrollbar-track
*/
[data-theme='daffodil'] {
	scrollbar-color: hsl(var(--iris-7) / 70%) transparent;
}
[data-theme='bellflower'] {
	scrollbar-color: hsl(var(--iris-7)) transparent;
}
[data-theme='amethyst'] {
	scrollbar-color: hsl(var(--iris-5)) hsl(var(--iris-2));
}
[data-theme='desert'] {
	scrollbar-color: hsl(var(--amber-5)) hsl(var(--amber-2));
}
/*#endregion Scrollbar ####################### */

/*#region Media Queries ###################### */
@media (prefers-reduced-motion) {
	html {
		scroll-behavior: auto !important;
	}
}
/*#endregion Media Queries ################### */
