.DS_Store
.env
.env.*
!.env.example
node_modules
package-lock.json
yarn.lock
build
dist
.svelte-kit
.vercel
.cloudflare
.netlify
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
logs

pnpm-lock.yaml
*migrations/
static/
