<script lang="ts">
	import { CodeTopper } from '$lib/articles/components';

  interface Props {
    part: "state-table" | "package.json" | "aws-sdk" | "cors"  | "env"
  }

	const { part }: Props = $props();
</script>

{#if part === 'state-table'}
<!-- table-start -->
| State Change Breakpoint            | Reasoning                                                                                                                                 |
| ---------------------------------- | ----------------------------------------------------------------------------------------------------------------------------------------- |
| There's a decision branch          | Allow for easily composable pipelines                                                                                                     |
| An async function is being awaited | Allow cancellation logic to be added to the state so a cancel function can handle cancels that occurred during <code>await promise</code> |
| Something must be shown in the UI  | Allow getting user input, showing spinners, updating progress bars, etc.                                                                  |
<!-- table-end -->
{:else if part === "package.json"}
<CodeTopper title="package.json">
```json
"dependencies": {
  "@aws-sdk/client-cloudfront": "^3.474.0",
  "@aws-sdk/client-rekognition": "^3.474.0",
  "@aws-sdk/client-s3": "^3.474.0",
  "@aws-sdk/s3-presigned-post": "^3.478.0",
}
```
</CodeTopper>
{:else if part === "aws-sdk"}
<CodeTopper title="AWS SDKs">
```ts
import { CloudFrontClient, CreateInvalidationCommand } from '@aws-sdk/client-cloudfront';
import { RekognitionClient, DetectModerationLabelsCommand } from '@aws-sdk/client-rekognition';
import { S3Client, DeleteObjectCommand } from '@aws-sdk/client-s3';
import { createPresignedPost } from '@aws-sdk/s3-presigned-post';
```
</CodeTopper>
{:else if part === "cors"}
<CodeTopper title="Select bucket -> Permissions -> (CORS) -> Edit">
```json
[
  {
    "AllowedHeaders": ["*"],
    "AllowedMethods": ["POST"],
    "AllowedOrigins": ["*"],
    "ExposeHeaders": []
  }
]
```
</CodeTopper>
{:else if part === "env"}
<CodeTopper title=".env">
```sh
AWS_SERVICE_REGION="" # for example: us-east-1

# https://console.aws.amazon.com/iam/home -> Select User -> Security credentials -> Create access key -> Copy access key and secret
IAM_ACCESS_KEY_ID=""
IAM_SECRET_ACCESS_KEY=""

S3_BUCKET_NAME="" # The name of the bucket you created
S3_BUCKET_URL="" # https://[bucket-name].s3.[region].amazonaws.com

# https://console.aws.amazon.com/cloudfront -> Select distribution
CLOUDFRONT_URL=""             # Copy Distribution domain name (including https://)
CLOUDFRONT_DISTRIBUTION_ID="" # Copy ARN – the last digits after the final "/"
```
</CodeTopper>
{/if}
