<script lang="ts">
	import Layout from './Layout.svelte'
</script>

<Layout title="Preprocessing Tables">
	{#snippet write()}
```md
<!-- table-start -->
| Heading 1 | Heading 2 | Heading 3 |
| --------- | --------- | --------- |
| cell 1    | cell 2    | cell 3    |
| cell 4    | cell 5    | cell 6    |
<!-- table-end -->
```
	{/snippet}

	{#snippet process()}
```html
<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<th>Heading 1</th>
				<th>Heading 2</th>
				<th>Heading 3</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>cell 1</td>
				<td>cell 2</td>
				<td>cell 3</td>
			</tr>
			<tr>
				<td>cell 4</td>
				<td>cell 5</td>
				<td>cell 6</td>
			</tr>
		</tbody>
	</table>
</div>
```
	{/snippet}

	{#snippet render()}
		<div class="prose prose-radix prose-lg">
			<div class="code-wrapper px-8 [&_*]:!text-gray-12 [&_*]:!font-sans">
<!-- table-start -->
| Heading 1 | Heading 2 | Heading 3 |
| --------- | --------- | --------- |
| cell 1    | cell 2    | cell 3    |
| cell 4    | cell 5    | cell 6    |
<!-- table-end -->
			</div>
		</div>
	{/snippet}
</Layout>
