# There are .env.[_development|_preview|_staging|_production] files. Underscores are so vite doesn't use one implicitly https://vitejs.dev/guide/env-and-mode

#####            Hosting           #####
########################################
PUBLIC_ORIGIN="http://localhost:5173"
PUBLIC_EFFECTIVE_DOMAIN="localhost"
